## Ragnavik hotkey policy.
## Plugin GUID: Azumatt_and_ValheimPlusDevs.PerfectPlacement

[4 - Advanced Editing Mode]
Abort and Exit Advanced Editing Mode = F8 + LeftControl

[5 - Grid Alignment]
Change Default Alignment = F6 + LeftControl
