## Ragnavik hotkey policy.
## Plugin GUID: org.bepinex.plugins.passivepowers

[2 - Active Powers]
Shortcut for boss power 1 = Alpha1 + RightAlt
Shortcut for boss power 2 = Alpha2 + RightAlt
Shortcut for boss power 3 = Alpha3 + RightAlt
Shortcut for boss power 4 = Alpha4 + RightAlt
Shortcut for boss power 5 = Alpha5 + RightAlt
Shortcut for boss power 6 = Alpha6 + RightAlt
Shortcut for boss power 7 = Alpha7 + RightAlt
