## Ragnavik profession policy.
## Plugin GUID: org.bepinex.plugins.professions

[1 - General]

Lock Configuration = On
Maximum Number of Professions = 2
Allow Profession Change = On
Reset Level on Unlearn = On
Profession Change Cooldown = 24

## F9 avoids the default P collision with TargetPortal map icons.
Profession Panel Hotkey = F9
